In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [3]:
app_train = pd.read_csv('/kaggle/input/home-credit-default-risk/application_train.csv')
app_test = pd.read_csv('/kaggle/input/home-credit-default-risk/application_test.csv')
bureau = pd.read_csv('/kaggle/input/home-credit-default-risk/bureau.csv')
bureau_balance = pd.read_csv('/kaggle/input/home-credit-default-risk/bureau_balance.csv')
prev_app = pd.read_csv('/kaggle/input/home-credit-default-risk/previous_application.csv')
pos_cash_balance = pd.read_csv('/kaggle/input/home-credit-default-risk/POS_CASH_balance.csv')
ins_pay = pd.read_csv('/kaggle/input/home-credit-default-risk/installments_payments.csv')
credit_card_balance = pd.read_csv('/kaggle/input/home-credit-default-risk/credit_card_balance.csv')

# 1. Drop columns
## application_train/test

In [4]:
app_drop_cols = ['AMT_GOODS_PRICE',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'APARTMENTS_MEDI',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MEDI',
 'BASEMENTAREA_MODE',
 'COMMONAREA_MEDI',
 'COMMONAREA_MODE',
 'ELEVATORS_MEDI',
 'ELEVATORS_MODE',
 'EMERGENCYSTATE_MODE',
 'ENTRANCES_MEDI',
 'ENTRANCES_MODE',
 'FLAG_CONT_MOBILE',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_9',
 'FLAG_EMP_PHONE',
 'FLAG_MOBIL',
 'FLOORSMAX_MEDI',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MEDI',
 'FLOORSMIN_MODE',
 'HOUSETYPE_MODE',
 'LANDAREA_MEDI',
 'LANDAREA_MODE',
 'LIVE_REGION_NOT_WORK_REGION',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MEDI',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MEDI',
 'NONLIVINGAREA_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'REGION_RATING_CLIENT',
 'REG_REGION_NOT_LIVE_REGION',
 'TOTALAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MEDI',
 'YEARS_BUILD_MODE']

In [5]:
print(app_train.shape, app_test.shape)
app_train.drop(columns=app_drop_cols, inplace=True)
app_test.drop(columns=app_drop_cols, inplace=True)
print(app_train.shape, app_test.shape)

(307511, 122) (48744, 121)
(307511, 63) (48744, 62)

## bureau, bureau_balance and installment_payments: nothing to do

## POS_CASH_balance

In [6]:
pos_cash_drop_cols = ['SK_DPD', 'SK_DPD_DEF']
print(pos_cash_balance.shape)
pos_cash_balance.drop(columns=pos_cash_drop_cols, inplace=True)
print(pos_cash_balance.shape)

(10001358, 8)
(10001358, 6)

## credit_card_balance

In [7]:
cc_bal_drop_cols = ['AMT_PAYMENT_CURRENT',
                    'AMT_RECEIVABLE_PRINCIPAL',
                    'AMT_RECIVABLE',
                    'AMT_BALANCE',
                    'CNT_DRAWINGS_POS_CURRENT',
                    'CNT_DRAWINGS_OTHER_CURRENT',
                    'CNT_DRAWINGS_ATM_CURRENT',
                    'AMT_DRAWINGS_POS_CURRENT',
                    'AMT_DRAWINGS_OTHER_CURRENT',
                    'AMT_DRAWINGS_ATM_CURRENT']
print(credit_card_balance.shape)
credit_card_balance.drop(columns=cc_bal_drop_cols, inplace=True)
print(credit_card_balance.shape)

(3840312, 23)
(3840312, 13)

## previous application

In [8]:
prev_app_drop_cols = ['RATE_INTEREST_PRIMARY',
                      'RATE_INTEREST_PRIVILEGED',
                      'CODE_REJECT_REASON',
                      'NAME_CASH_LOAN_PURPOSE',
                      'FLAG_LAST_APPL_PER_CONTRACT',
                      'NFLAG_LAST_APPL_IN_DAY',
                      'DAYS_FIRST_DRAWING',
                      'DAYS_FIRST_DUE',
                      'DAYS_LAST_DUE_1ST_VERSION',
                      'DAYS_LAST_DUE',
                      'AMT_APPLICATION',
                      'AMT_GOODS_PRICE',
                      'DAYS_TERMINATION']
print(prev_app.shape)
prev_app.drop(columns=prev_app_drop_cols, inplace=True)
print(prev_app.shape)

(1670214, 37)
(1670214, 24)

# 2. Merge tables

In [9]:
# application dataset: train + test
print(app_train.shape, app_test.shape)
df = app_train.append(app_test)
df.shape

(307511, 63) (48744, 62)

/tmp/ipykernel_32/4033191213.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = app_train.append(app_test)

(356255, 63)

In [10]:
df

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,FONDKAPREMONT_MODE,WALLSMATERIAL_MODE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,0,1,0,Laborers,1.0,2,WEDNESDAY,10,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,reg oper account,"Stone, brick",2.0,2.0,2.0,-1134.0,1,0,0,0.0,0.0,1.0
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,0,1,0,Core staff,2.0,1,MONDAY,11,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,reg oper account,Block,0.0,1.0,0.0,-828.0,1,0,0,0.0,0.0,0.0
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,0,Laborers,1.0,2,MONDAY,9,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-815.0,0,0,0,0.0,0.0,0.0
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,0,0,0,Laborers,2.0,2,WEDNESDAY,17,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,-617.0,1,0,0,NaN,NaN,NaN
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,0,0,0,Core staff,1.0,2,THURSDAY,11,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-1106.0,0,0,1,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,NaN,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,Unaccompanied,Working,Secondary / secondary special,Widow,House / apartment,0.002042,-19970,-5169,-9094.0,-3399,NaN,1,1,0,NaN,1.0,3,WEDNESDAY,16,0,0,0,0,Other,NaN,0.648575,0.643026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,-684.0,0,0,0,0.0,0.0,1.0
48740,456222,NaN,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.035792,-11186,-1149,-3015.0,-3003,NaN,0,0,0,Sales staff,4.0,2,MONDAY,11,0,0,1,1,Trade: type 7,NaN,0.684596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,0.0,1,0,0,NaN,NaN,NaN
48741,456223,NaN,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,0.026392,-15922,-3037,-2681.0,-1504,4.0,0,1,0,NaN,3.0,2,WEDNESDAY,12,0,0,0,0,Business Entity Type 3,0.733503,0.632770,0.283712,0.1113,0.1364,0.9955,NaN,NaN,0.16,0.1379,0.3333,NaN,NaN,NaN,0.1383,NaN,0.0542,NaN,"Stone, brick",0.0,0.0,0.0,-838.0,1,0,0,0.0,3.0,1.0
48742,456224,NaN,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,Family,Commercial associate,Higher education,Married,House / apartment,0.018850,-13968,-2731,-1461.0,-1364,NaN,1,1,0,Managers,2.0,2,MONDAY,10,1,0,1,1,Self-employed,0.373090,0.445701,0.595456,0.1629,0.0723,0.9896,NaN,NaN,0.16,0.0690,0.6250,NaN,NaN,NaN,0.1563,NaN,0.1490,NaN,Panel,0.0,0.0,0.0,-2308.0,1,0,0,0.0,0.0,2.0
48743,456250,NaN,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,Unaccompanied,Working,Secondary / secondary special,Married,House / apartment,0.006629,-13962,-633,-1072.0,-4220,22.0,1,0,0,Core staff,2.0,2,TUESDAY,14,0,0,0,0,Government,NaN,0.456541,0.272134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-327.0,1,0,0,0.0,1.0,4.0

In [11]:
df.TARGET.isna().sum()

48744

## 2.1. bureau balance ==> bureau ==> df

### bureau.csv

* All client's previous credits provided by other financial institutions that were reported to Credit Bureau (for clients who have a loan in our sample).
* For every loan in our sample, there are **as many rows as number of credits the client had in Credit Bureau before the application date**.
* It is matched by SK_ID_CURR with application datasets. The relationship between train/test and  bureau is 1:M, each client can have 1 or multiple loans previously.

### bureau_balance.csv
* Monthly balances of previous credits in Credit Bureau.
* This table has **one row for each month of history of every previous credit** reported to Credit Bureau – i.e the table has (#loans in sample * # of relative previous credits * # of months where we have some history observable for the previous credits) rows.
* It related to bureau via SK_ID_BUREAU.

### approach:
calculate mean / median / max of each statistical columns out of these both df --> features. But it only works with numerical features, eg. client with SK_ID_CURR 666 had 7 credits in bureau df, and when grouped by 1 ID, we will not be able to show a CREDIT_ACTIVE column (Closed / Active for different previous credits).

But we can calculate the total number of previous credits taken by each client.

In [12]:
n_previous_loans = bureau.groupby('SK_ID_CURR')['SK_ID_BUREAU'].count().reset_index().rename(columns={'SK_ID_BUREAU': 'NUM_PREVIOUS_LOANS'})
n_previous_loans.head()

   SK_ID_CURR  NUM_PREVIOUS_LOANS
0      100001                   7
1      100002                   8
2      100003                   4
3      100004                   2
4      100005                   3

In [13]:
## add NUM_PREVIOUS_LOANS column to df
df = df.merge(n_previous_loans, how='left', on='SK_ID_CURR')
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,FONDKAPREMONT_MODE,WALLSMATERIAL_MODE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NUM_PREVIOUS_LOANS
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,0,1,0,Laborers,1.0,2,WEDNESDAY,10,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,reg oper account,"Stone, brick",2.0,2.0,2.0,-1134.0,1,0,0,0.0,0.0,1.0,8.0
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,0,1,0,Core staff,2.0,1,MONDAY,11,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,reg oper account,Block,0.0,1.0,0.0,-828.0,1,0,0,0.0,0.0,0.0,4.0
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,0,Laborers,1.0,2,MONDAY,9,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-815.0,0,0,0,0.0,0.0,0.0,2.0
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,0,0,0,Laborers,2.0,2,WEDNESDAY,17,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,-617.0,1,0,0,NaN,NaN,NaN,NaN
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,0,0,0,Core staff,1.0,2,THURSDAY,11,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-1106.0,0,0,1,0.0,0.0,0.0,1.0

### 2.1.1 bureau_balance ==> bureau

In [14]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [15]:
bur_bal_grb = bureau_balance.groupby('SK_ID_BUREAU').mean().add_prefix('BUR_BAL_').reset_index()
bur_bal_grb.head()

/tmp/ipykernel_32/163828109.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bur_bal_grb = bureau_balance.groupby('SK_ID_BUREAU').mean().add_prefix('BUR_BAL_').reset_index()

   SK_ID_BUREAU  BUR_BAL_MONTHS_BALANCE
0       5001709                   -48.0
1       5001710                   -41.0
2       5001711                    -1.5
3       5001712                    -9.0
4       5001713                   -10.5

In [16]:
bureau = bureau.merge(bur_bal_grb, how='left', on='SK_ID_BUREAU')
bureau.drop('SK_ID_BUREAU', inplace=True, axis=1)
bureau.head()

,SK_ID_CURR,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY,BUR_BAL_MONTHS_BALANCE
0,215354,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN,NaN
1,215354,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN,NaN
2,215354,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN,NaN
3,215354,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN,NaN
4,215354,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN,NaN

In [17]:
print(bureau.shape)
bureau['SK_ID_CURR'].nunique()
### --> need to groupby to make SK_ID_CURR unique

(1716428, 17)

305811

### 2.1.2. bureau ==> df

In [79]:
bur_grb = bureau.groupby('SK_ID_CURR').mean().add_prefix('BUR_').reset_index()
bur_grb.head()

/tmp/ipykernel_32/1432386500.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bur_grb = bureau.groupby('SK_ID_CURR').mean().add_prefix('BUR_').reset_index()

,SK_ID_CURR,BUR_DAYS_CREDIT,BUR_CREDIT_DAY_OVERDUE,BUR_DAYS_CREDIT_ENDDATE,BUR_DAYS_ENDDATE_FACT,BUR_AMT_CREDIT_MAX_OVERDUE,BUR_CNT_CREDIT_PROLONG,BUR_AMT_CREDIT_SUM,BUR_AMT_CREDIT_SUM_DEBT,BUR_AMT_CREDIT_SUM_LIMIT,BUR_AMT_CREDIT_SUM_OVERDUE,BUR_DAYS_CREDIT_UPDATE,BUR_AMT_ANNUITY,BUR_BUR_BAL_MONTHS_BALANCE
0,100001,-735.000000,0.0,82.428571,-825.500000,NaN,0.0,207623.571429,85240.928571,0.00000,0.0,-93.142857,3545.357143,-11.785714
1,100002,-874.000000,0.0,-349.000000,-697.500000,1681.029,0.0,108131.945625,49156.200000,7997.14125,0.0,-499.875000,0.000000,-21.875000
2,100003,-1400.750000,0.0,-544.500000,-1097.333333,0.000,0.0,254350.125000,0.000000,202500.00000,0.0,-816.000000,NaN,NaN
3,100004,-867.000000,0.0,-488.500000,-532.500000,0.000,0.0,94518.900000,0.000000,0.00000,0.0,-532.000000,NaN,NaN
4,100005,-190.666667,0.0,439.333333,-123.000000,0.000,0.0,219042.000000,189469.500000,0.00000,0.0,-54.333333,1420.500000,-3.000000

In [80]:
print(bur_grb.shape)
bur_grb['SK_ID_CURR'].nunique()

(305811, 14)

305811

In [81]:
print(df.shape)
df = df.merge(bur_grb, how='left', on='SK_ID_CURR')
print(df.shape)
df.head()

(356255, 64)
(356255, 77)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,FONDKAPREMONT_MODE,WALLSMATERIAL_MODE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NUM_PREVIOUS_LOANS,BUR_DAYS_CREDIT,BUR_CREDIT_DAY_OVERDUE,BUR_DAYS_CREDIT_ENDDATE,BUR_DAYS_ENDDATE_FACT,BUR_AMT_CREDIT_MAX_OVERDUE,BUR_CNT_CREDIT_PROLONG,BUR_AMT_CREDIT_SUM,BUR_AMT_CREDIT_SUM_DEBT,BUR_AMT_CREDIT_SUM_LIMIT,BUR_AMT_CREDIT_SUM_OVERDUE,BUR_DAYS_CREDIT_UPDATE,BUR_AMT_ANNUITY,BUR_BUR_BAL_MONTHS_BALANCE
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,0,1,0,Laborers,1.0,2,WEDNESDAY,10,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,reg oper account,"Stone, brick",2.0,2.0,2.0,-1134.0,1,0,0,0.0,0.0,1.0,8.0,-874.00,0.0,-349.0,-697.500000,1681.029,0.0,108131.945625,49156.2,7997.14125,0.0,-499.875,0.0,-21.875
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,0,1,0,Core staff,2.0,1,MONDAY,11,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,reg oper account,Block,0.0,1.0,0.0,-828.0,1,0,0,0.0,0.0,0.0,4.0,-1400.75,0.0,-544.5,-1097.333333,0.000,0.0,254350.125000,0.0,202500.00000,0.0,-816.000,NaN,NaN
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,0,Laborers,1.0,2,MONDAY,9,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-815.0,0,0,0,0.0,0.0,0.0,2.0,-867.00,0.0,-488.5,-532.500000,0.000,0.0,94518.900000,0.0,0.00000,0.0,-532.000,NaN,NaN
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,0,0,0,Laborers,2.0,2,WEDNESDAY,17,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,-617.0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,0,0,0,Core staff,1.0,2,THURSDAY,11,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-1106.0,0,0,1,0.0,0.0,0.0,1.0,-1149.00,0.0,-783.0,-783.000000,0.000,0.0,146250.000000,0.0,0.00000,0.0,-783.000,NaN,NaN

## 2.2 POS_CASH_balance, installments_payments, credit_card_balance ==> previous_application
**previous_application.csv**
* All previous applications for Home Credit loans of clients who have loans in our sample.
* There is one row for each previous application related to loans in our data sample.

In [82]:
## check if there are any records in previous_application are not in df
len(prev_app.SK_ID_CURR.isin(df.SK_ID_CURR)) == len(prev_app)

True

In [83]:
len(df.SK_ID_CURR.isin(prev_app.SK_ID_CURR)) == len(df)

True

In [84]:
n_prev_app = prev_app.groupby('SK_ID_CURR')['SK_ID_PREV'].count().reset_index().rename(columns = {'SK_ID_PREV': 'NUM_PREV_APPS'})
n_prev_app.head()

   SK_ID_CURR  NUM_PREV_APPS
0      100001              1
1      100002              1
2      100003              3
3      100004              1
4      100005              2

In [85]:
df = df.merge(n_prev_app, how='left', on='SK_ID_CURR')
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,FONDKAPREMONT_MODE,WALLSMATERIAL_MODE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NUM_PREVIOUS_LOANS,BUR_DAYS_CREDIT,BUR_CREDIT_DAY_OVERDUE,BUR_DAYS_CREDIT_ENDDATE,BUR_DAYS_ENDDATE_FACT,BUR_AMT_CREDIT_MAX_OVERDUE,BUR_CNT_CREDIT_PROLONG,BUR_AMT_CREDIT_SUM,BUR_AMT_CREDIT_SUM_DEBT,BUR_AMT_CREDIT_SUM_LIMIT,BUR_AMT_CREDIT_SUM_OVERDUE,BUR_DAYS_CREDIT_UPDATE,BUR_AMT_ANNUITY,BUR_BUR_BAL_MONTHS_BALANCE,NUM_PREV_APPS
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,0,1,0,Laborers,1.0,2,WEDNESDAY,10,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,reg oper account,"Stone, brick",2.0,2.0,2.0,-1134.0,1,0,0,0.0,0.0,1.0,8.0,-874.00,0.0,-349.0,-697.500000,1681.029,0.0,108131.945625,49156.2,7997.14125,0.0,-499.875,0.0,-21.875,1.0
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,0,1,0,Core staff,2.0,1,MONDAY,11,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,reg oper account,Block,0.0,1.0,0.0,-828.0,1,0,0,0.0,0.0,0.0,4.0,-1400.75,0.0,-544.5,-1097.333333,0.000,0.0,254350.125000,0.0,202500.00000,0.0,-816.000,NaN,NaN,3.0
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,0,Laborers,1.0,2,MONDAY,9,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-815.0,0,0,0,0.0,0.0,0.0,2.0,-867.00,0.0,-488.5,-532.500000,0.000,0.0,94518.900000,0.0,0.00000,0.0,-532.000,NaN,NaN,1.0
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,0,0,0,Laborers,2.0,2,WEDNESDAY,17,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,-617.0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,0,0,0,Core staff,1.0,2,THURSDAY,11,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-1106.0,0,0,1,0.0,0.0,0.0,1.0,-1149.00,0.0,-783.0,-783.000000,0.000,0.0,146250.000000,0.0,0.00000,0.0,-783.000,NaN,NaN,6.0

### 2.2.1 POS_CASH_balance ==> previous_application
**POS_CASH_balance.csv**
* Monthly balance snapshots of previous POS (point of sales) and cash loans that the applicant had with Home Credit.
* This table has **one row for each month of history of every previous credit** in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credits * # of months in which we have some history observable for the previous credits) rows.

In [86]:
pos_cash_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS
0,1803195,182943,-31,48.0,45.0,Active
1,1715348,367990,-33,36.0,35.0,Active
2,1784872,397406,-32,12.0,9.0,Active
3,1903291,269225,-35,48.0,42.0,Active
4,2341044,334279,-35,36.0,35.0,Active

In [87]:
pos_cash_balance.drop('SK_ID_CURR', axis=1, inplace=True)

In [88]:
pos_cash_grb = pos_cash_balance.groupby('SK_ID_PREV').mean().add_prefix('POS_').reset_index()
pos_cash_grb.head()

/tmp/ipykernel_32/567545547.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pos_cash_grb = pos_cash_balance.groupby('SK_ID_PREV').mean().add_prefix('POS_').reset_index()

,SK_ID_PREV,POS_MONTHS_BALANCE,POS_CNT_INSTALMENT,POS_CNT_INSTALMENT_FUTURE
0,1000001,-9.0,8.666667,7.666667
1,1000002,-52.0,5.200000,2.000000
2,1000003,-2.5,12.000000,10.500000
3,1000004,-25.5,9.625000,6.125000
4,1000005,-51.0,10.000000,5.000000

In [92]:
prev_app = prev_app.merge(pos_cash_grb, how='left', on='SK_ID_PREV')
prev_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_CREDIT,AMT_DOWN_PAYMENT,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,RATE_DOWN_PAYMENT,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,NFLAG_INSURED_ON_APPROVAL,POS_MONTHS_BALANCE,POS_CNT_INSTALMENT,POS_CNT_INSTALMENT_FUTURE
0,2030495,271877,Consumer loans,1730.430,17145.0,0.0,SATURDAY,15,0.0,Approved,-73,Cash through the bank,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,0.0,-1.5,6.500000,6.000000
1,2802425,108129,Cash loans,25188.615,679671.0,NaN,THURSDAY,11,NaN,Approved,-164,XNA,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,1.0,-4.0,36.000000,34.000000
2,2523466,122040,Cash loans,15060.735,136444.5,NaN,TUESDAY,11,NaN,Approved,-301,Cash through the bank,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,1.0,-5.5,12.000000,7.500000
3,2819243,176158,Cash loans,47041.335,470790.0,NaN,MONDAY,7,NaN,Approved,-512,Cash through the bank,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,1.0,-11.5,11.916667,6.416667
4,1784265,202054,Cash loans,31924.395,404055.0,NaN,THURSDAY,9,NaN,Refused,-781,Cash through the bank,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN

### 2.2.2 installments_payments ==> previous_application
**installments_payments.csv**
* Repayment history for the previously disbursed credits in Home Credit related to the loans in our sample.
* There is a) **one row for every payment** that was made plus b) **one row each for missed payment**.
* One row is equivalent to one payment of one installment OR one installment corresponding to one payment of one previous Home Credit credit related to loans in our sample.

In [94]:
ins_pay.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [95]:
ins_pay.drop('SK_ID_CURR', axis=1, inplace=True)

In [97]:
ins_pay_grb = ins_pay.groupby('SK_ID_PREV').mean().add_prefix('INS_PAY_').reset_index()
ins_pay_grb.head()

,SK_ID_PREV,INS_PAY_NUM_INSTALMENT_VERSION,INS_PAY_NUM_INSTALMENT_NUMBER,INS_PAY_DAYS_INSTALMENT,INS_PAY_DAYS_ENTRY_PAYMENT,INS_PAY_AMT_INSTALMENT,INS_PAY_AMT_PAYMENT
0,1000001,1.500000,1.500000,-253.000000,-269.000000,34221.712500,34221.712500
1,1000002,1.250000,2.500000,-1555.000000,-1574.750000,9308.891250,9308.891250
2,1000003,1.000000,2.000000,-64.000000,-79.333333,4951.350000,4951.350000
3,1000004,1.142857,4.000000,-772.000000,-798.714286,4789.022143,4789.022143
4,1000005,1.000000,5.818182,-1543.454545,-1551.909091,14703.210000,13365.609545

In [101]:
prev_app = prev_app.merge(ins_pay_grb, how='left', on='SK_ID_PREV')
prev_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_CREDIT,AMT_DOWN_PAYMENT,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,RATE_DOWN_PAYMENT,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,NFLAG_INSURED_ON_APPROVAL,POS_MONTHS_BALANCE,POS_CNT_INSTALMENT,POS_CNT_INSTALMENT_FUTURE,INS_PAY_NUM_INSTALMENT_VERSION,INS_PAY_NUM_INSTALMENT_NUMBER,INS_PAY_DAYS_INSTALMENT,INS_PAY_DAYS_ENTRY_PAYMENT,INS_PAY_AMT_INSTALMENT,INS_PAY_AMT_PAYMENT
0,2030495,271877,Consumer loans,1730.430,17145.0,0.0,SATURDAY,15,0.0,Approved,-73,Cash through the bank,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,0.0,-1.5,6.500000,6.000000,2.000000,1.0,-42.0,-42.000000,17284.275000,17284.275000
1,2802425,108129,Cash loans,25188.615,679671.0,NaN,THURSDAY,11,NaN,Approved,-164,XNA,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,1.0,-4.0,36.000000,34.000000,1.000000,3.0,-74.0,-83.200000,25188.615000,25188.615000
2,2523466,122040,Cash loans,15060.735,136444.5,NaN,TUESDAY,11,NaN,Approved,-301,Cash through the bank,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,1.0,-5.5,12.000000,7.500000,1.000000,5.0,-151.0,-159.222222,15060.735000,15060.735000
3,2819243,176158,Cash loans,47041.335,470790.0,NaN,MONDAY,7,NaN,Approved,-512,Cash through the bank,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,1.0,-11.5,11.916667,6.416667,1.090909,6.0,-332.0,-339.090909,51193.943182,51193.943182
4,1784265,202054,Cash loans,31924.395,404055.0,NaN,THURSDAY,9,NaN,Refused,-781,Cash through the bank,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2.2.3 credit_card_balance ==> previous_application
**credit_card_balance.csv**
* Monthly balance snapshots of previous credit cards that the applicant has with Home Credit.
* This table has **one row for each month of history of every previous credit** in Home Credit (consumer credit and cash loans) related to loans in our sample – i.e. the table has (#loans in sample * # of relative previous credit cards * # of months where we have some history observable for the previous credit card) rows.

In [103]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_TOTAL_CURRENT,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,135000,877.5,1700.325,1800.0,0.000,1,35.0,Active,0,0
1,2582071,363914,-1,45000,2250.0,2250.000,2250.0,64875.555,1,69.0,Active,0,0
2,1740877,371185,-7,450000,0.0,2250.000,2250.0,31460.085,0,30.0,Active,0,0
3,1389973,337855,-4,225000,2250.0,11795.760,11925.0,233048.970,1,10.0,Active,0,0
4,1891521,126868,-1,450000,11547.0,22924.890,27000.0,453919.455,1,101.0,Active,0,0

In [104]:
credit_card_balance.drop('SK_ID_CURR', axis=1, inplace=True)

In [105]:
credit_card_grb = credit_card_balance.groupby('SK_ID_PREV').mean().add_prefix('CRED_CARD_').reset_index()
credit_card_grb.head()

/tmp/ipykernel_32/3912829823.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  credit_card_grb = credit_card_balance.groupby('SK_ID_PREV').mean().add_prefix('CRED_CARD_').reset_index()

,SK_ID_PREV,CRED_CARD_MONTHS_BALANCE,CRED_CARD_AMT_CREDIT_LIMIT_ACTUAL,CRED_CARD_AMT_DRAWINGS_CURRENT,CRED_CARD_AMT_INST_MIN_REGULARITY,CRED_CARD_AMT_PAYMENT_TOTAL_CURRENT,CRED_CARD_AMT_TOTAL_RECEIVABLE,CRED_CARD_CNT_DRAWINGS_CURRENT,CRED_CARD_CNT_INSTALMENT_MATURE_CUM,CRED_CARD_SK_DPD,CRED_CARD_SK_DPD_DEF
0,1000018,-4.0,81000.000000,29478.996000,2594.088000,5541.750000,73602.585000,8.8000,2.0000,0.0,0.0
1,1000030,-4.5,81562.500000,17257.438125,2078.223750,2657.947500,55935.376875,5.1250,1.8750,0.0,0.0
2,1000031,-8.5,149625.000000,28959.615000,2675.300625,22157.443125,52099.970625,1.3125,3.6875,0.0,0.0
3,1000035,-4.0,225000.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.0
4,1000077,-7.0,94090.909091,0.000000,0.000000,0.000000,0.000000,0.0000,0.0000,0.0,0.0

In [108]:
prev_app = prev_app.merge(credit_card_grb, how='left', on='SK_ID_PREV')
prev_app.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_CREDIT,AMT_DOWN_PAYMENT,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,RATE_DOWN_PAYMENT,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,NFLAG_INSURED_ON_APPROVAL,POS_MONTHS_BALANCE,POS_CNT_INSTALMENT,POS_CNT_INSTALMENT_FUTURE,INS_PAY_NUM_INSTALMENT_VERSION,INS_PAY_NUM_INSTALMENT_NUMBER,INS_PAY_DAYS_INSTALMENT,INS_PAY_DAYS_ENTRY_PAYMENT,INS_PAY_AMT_INSTALMENT,INS_PAY_AMT_PAYMENT,CRED_CARD_MONTHS_BALANCE,CRED_CARD_AMT_CREDIT_LIMIT_ACTUAL,CRED_CARD_AMT_DRAWINGS_CURRENT,CRED_CARD_AMT_INST_MIN_REGULARITY,CRED_CARD_AMT_PAYMENT_TOTAL_CURRENT,CRED_CARD_AMT_TOTAL_RECEIVABLE,CRED_CARD_CNT_DRAWINGS_CURRENT,CRED_CARD_CNT_INSTALMENT_MATURE_CUM,CRED_CARD_SK_DPD,CRED_CARD_SK_DPD_DEF
0,2030495,271877,Consumer loans,1730.430,17145.0,0.0,SATURDAY,15,0.0,Approved,-73,Cash through the bank,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,0.0,-1.5,6.500000,6.000000,2.000000,1.0,-42.0,-42.000000,17284.275000,17284.275000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2802425,108129,Cash loans,25188.615,679671.0,NaN,THURSDAY,11,NaN,Approved,-164,XNA,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,1.0,-4.0,36.000000,34.000000,1.000000,3.0,-74.0,-83.200000,25188.615000,25188.615000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2523466,122040,Cash loans,15060.735,136444.5,NaN,TUESDAY,11,NaN,Approved,-301,Cash through the bank,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,1.0,-5.5,12.000000,7.500000,1.000000,5.0,-151.0,-159.222222,15060.735000,15060.735000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2819243,176158,Cash loans,47041.335,470790.0,NaN,MONDAY,7,NaN,Approved,-512,Cash through the bank,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,1.0,-11.5,11.916667,6.416667,1.090909,6.0,-332.0,-339.090909,51193.943182,51193.943182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1784265,202054,Cash loans,31924.395,404055.0,NaN,THURSDAY,9,NaN,Refused,-781,Cash through the bank,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
prev_app.shape

(1670214, 43)

## 2.3 previous_application ==> df

In [110]:
prev_app.drop('SK_ID_PREV', inplace=True, axis=1)

In [111]:
prev_grb = prev_app.groupby('SK_ID_CURR').mean().add_prefix('PREV_').reset_index()
prev_grb.head()

/tmp/ipykernel_32/3022136819.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  prev_grb = prev_app.groupby('SK_ID_CURR').mean().add_prefix('PREV_').reset_index()

,SK_ID_CURR,PREV_AMT_ANNUITY,PREV_AMT_CREDIT,PREV_AMT_DOWN_PAYMENT,PREV_HOUR_APPR_PROCESS_START,PREV_RATE_DOWN_PAYMENT,PREV_DAYS_DECISION,PREV_SELLERPLACE_AREA,PREV_CNT_PAYMENT,PREV_NFLAG_INSURED_ON_APPROVAL,PREV_POS_MONTHS_BALANCE,PREV_POS_CNT_INSTALMENT,PREV_POS_CNT_INSTALMENT_FUTURE,PREV_INS_PAY_NUM_INSTALMENT_VERSION,PREV_INS_PAY_NUM_INSTALMENT_NUMBER,PREV_INS_PAY_DAYS_INSTALMENT,PREV_INS_PAY_DAYS_ENTRY_PAYMENT,PREV_INS_PAY_AMT_INSTALMENT,PREV_INS_PAY_AMT_PAYMENT,PREV_CRED_CARD_MONTHS_BALANCE,PREV_CRED_CARD_AMT_CREDIT_LIMIT_ACTUAL,PREV_CRED_CARD_AMT_DRAWINGS_CURRENT,PREV_CRED_CARD_AMT_INST_MIN_REGULARITY,PREV_CRED_CARD_AMT_PAYMENT_TOTAL_CURRENT,PREV_CRED_CARD_AMT_TOTAL_RECEIVABLE,PREV_CRED_CARD_CNT_DRAWINGS_CURRENT,PREV_CRED_CARD_CNT_INSTALMENT_MATURE_CUM,PREV_CRED_CARD_SK_DPD,PREV_CRED_CARD_SK_DPD_DEF
0,100001,3951.000,23787.00,2520.0,13.000000,0.104326,-1740.0,23.0,8.0,0.000000,-55.000000,4.000000,2.000000,1.250000,2.500000,-1664.000000,-1679.500000,7312.725000,7312.725000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100002,9251.775,179055.00,0.0,9.000000,0.000000,-606.0,500.0,24.0,0.000000,-10.000000,24.000000,15.000000,1.052632,10.000000,-295.000000,-315.421053,11559.247105,11559.247105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100003,56553.990,484191.00,3442.5,14.666667,0.050030,-1305.0,533.0,10.0,0.666667,-39.166667,9.791667,5.666667,1.047619,4.666667,-1164.333333,-1171.781746,78558.479286,78558.479286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100004,5357.250,20106.00,4860.0,5.000000,0.212008,-815.0,30.0,4.0,0.000000,-25.500000,3.750000,2.250000,1.333333,2.000000,-754.000000,-761.666667,7096.155000,7096.155000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100005,4813.200,20076.75,4464.0,10.500000,0.108964,-536.0,18.0,12.0,0.000000,-20.000000,11.700000,7.200000,1.111111,5.000000,-586.000000,-609.555556,6240.205000,6240.205000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
print(df.shape)
df = df.merge(prev_grb, how='left', on='SK_ID_CURR')
print(df.shape)
df.head()

(356255, 78)
(356255, 106)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,OWN_CAR_AGE,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,APARTMENTS_AVG,BASEMENTAREA_AVG,YEARS_BEGINEXPLUATATION_AVG,YEARS_BUILD_AVG,COMMONAREA_AVG,ELEVATORS_AVG,ENTRANCES_AVG,FLOORSMAX_AVG,FLOORSMIN_AVG,LANDAREA_AVG,LIVINGAPARTMENTS_AVG,LIVINGAREA_AVG,NONLIVINGAPARTMENTS_AVG,NONLIVINGAREA_AVG,FONDKAPREMONT_MODE,WALLSMATERIAL_MODE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,FLAG_DOCUMENT_6,FLAG_DOCUMENT_8,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NUM_PREVIOUS_LOANS,BUR_DAYS_CREDIT,BUR_CREDIT_DAY_OVERDUE,BUR_DAYS_CREDIT_ENDDATE,BUR_DAYS_ENDDATE_FACT,BUR_AMT_CREDIT_MAX_OVERDUE,BUR_CNT_CREDIT_PROLONG,BUR_AMT_CREDIT_SUM,BUR_AMT_CREDIT_SUM_DEBT,BUR_AMT_CREDIT_SUM_LIMIT,BUR_AMT_CREDIT_SUM_OVERDUE,BUR_DAYS_CREDIT_UPDATE,BUR_AMT_ANNUITY,BUR_BUR_BAL_MONTHS_BALANCE,NUM_PREV_APPS,PREV_AMT_ANNUITY,PREV_AMT_CREDIT,PREV_AMT_DOWN_PAYMENT,PREV_HOUR_APPR_PROCESS_START,PREV_RATE_DOWN_PAYMENT,PREV_DAYS_DECISION,PREV_SELLERPLACE_AREA,PREV_CNT_PAYMENT,PREV_NFLAG_INSURED_ON_APPROVAL,PREV_POS_MONTHS_BALANCE,PREV_POS_CNT_INSTALMENT,PREV_POS_CNT_INSTALMENT_FUTURE,PREV_INS_PAY_NUM_INSTALMENT_VERSION,PREV_INS_PAY_NUM_INSTALMENT_NUMBER,PREV_INS_PAY_DAYS_INSTALMENT,PREV_INS_PAY_DAYS_ENTRY_PAYMENT,PREV_INS_PAY_AMT_INSTALMENT,PREV_INS_PAY_AMT_PAYMENT,PREV_CRED_CARD_MONTHS_BALANCE,PREV_CRED_CARD_AMT_CREDIT_LIMIT_ACTUAL,PREV_CRED_CARD_AMT_DRAWINGS_CURRENT,PREV_CRED_CARD_AMT_INST_MIN_REGULARITY,PREV_CRED_CARD_AMT_PAYMENT_TOTAL_CURRENT,PREV_CRED_CARD_AMT_TOTAL_RECEIVABLE,PREV_CRED_CARD_CNT_DRAWINGS_CURRENT,PREV_CRED_CARD_CNT_INSTALMENT_MATURE_CUM,PREV_CRED_CARD_SK_DPD,PREV_CRED_CARD_SK_DPD_DEF
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,NaN,0,1,0,Laborers,1.0,2,WEDNESDAY,10,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,0.0247,0.0369,0.9722,0.6192,0.0143,0.00,0.0690,0.0833,0.1250,0.0369,0.0202,0.0190,0.0000,0.0000,reg oper account,"Stone, brick",2.0,2.0,2.0,-1134.0,1,0,0,0.0,0.0,1.0,8.0,-874.00,0.0,-349.0,-697.500000,1681.029,0.0,108131.945625,49156.2,7997.14125,0.0,-499.875,0.0,-21.875,1.0,9251.775,179055.00,0.00,9.000000,0.000000,-606.000000,500.000000,24.000000,0.000000,-10.000000,24.000000,15.000000,1.052632,10.000000,-295.000000,-315.421053,11559.247105,11559.247105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,Family,State servant,Higher education,Married,House / apartment,0.003541,-16765,-1188,-1186.0,-291,NaN,0,1,0,Core staff,2.0,1,MONDAY,11,0,0,0,0,School,0.311267,0.622246,NaN,0.0959,0.0529,0.9851,0.7960,0.0605,0.08,0.0345,0.2917,0.3333,0.0130,0.0773,0.0549,0.0039,0.0098,reg oper account,Block,0.0,1.0,0.0,-828.0,1,0,0,0.0,0.0,0.0,4.0,-1400.75,0.0,-544.5,-1097.333333,0.000,0.0,254350.125000,0.0,202500.00000,0.0,-816.000,NaN,NaN,3.0,56553.990,484191.00,3442.50,14.666667,0.050030,-1305.000000,533.000000,10.000000,0.666667,-39.166667,9.791667,5.666667,1.047619,4.666667,-1164.333333,-1171.781746,78558.479286,78558.479286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,26.0,1,1,0,Laborers,1.0,2,MONDAY,9,0,0,0,0,Government,NaN,0.555912,0.729567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-815.0,0,0,0,0.0,0.0,0.0,2.0,-867.00,0.0,-488.5,-532.500000,0.000,0.0,94518.900000,0.0,0.00000,0.0,-532.000,NaN,NaN,1.0,5357.250,20106.00,4860.00,5.000000,0.212008,-815.000000,30.000000,4.000000,0.000000,-25.500000,3.750000,2.250000,1.333333,2.000000,-754.000000,-761.666667,7096.155000,7096.155000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,0.008019,-19005,-3039,-9833.0,-2437,NaN,0,0,0,Laborers,2.0,2,WEDNESDAY,17,0,0,0,0,Business Entity Type 3,NaN,0.650442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,-617.0,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,23651.175,291695.50,34840.17,14.666667,0.163412,-272.444444,894.222222,23.000000,0.000000,-9.000000,12.888889,10.214286,1.400000,3.166667,-260.666667,-285.966667,241944.225000,241944.225000,-3.5,270000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.028663,-19932,-3038,-4311.0,-3458,NaN,0,0,0,Core staff,1.0,2,THURSDAY,11,0,0,1,1,Religion,NaN,0.322738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,-1106.0,0,0,1,0.0,0.0,0.0,1.0,-1149.00,0.0,-783.0,-783.000000,0.000,0.0,146250.000000,0.0,0.00000,0.0,-783.000,NaN,NaN,6.0,12278.805,166638.75,3390.75,12.333333,0.159516,-1222.833333,409.166667,20.666667,0.600000,-36.100000,15.066667,8.966667,1.129412,6.843956,-1087.881319,-1090.768539,12122.995738,11671.540210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
df.to_csv('full_home_credit_df.csv')